future==0.18.2
GDAL==2.2.2
gunicorn==20.0.4
mapbox-vector-tile==1.2.0
ModestMaps==1.4.7
Pillow==7.1.0
pkg-resources==0.0.0
protobuf==3.11.3
psycopg2==2.8.4
pyclipper==1.1.0.post3
Shapely==1.7.0
simplejson==3.17.0
six==1.14.0
TileStache==1.51.14
Werkzeug==1.0.1
