@import '../../styles/mixins';

.layers-layer-details {
  z-index: 999;
  position: absolute;
  max-width: 380px;
  min-width: 380px;
  top: 60px;
  right: 10px;
  background-color: white;

  header {
    box-shadow: none;

    .MuiToolbar-regular {
      min-height: 48px;
      padding: 0 0 0 0.75rem;

      .title-container {
        display: flex;
        flex: 1;
        flex-direction: column;

        .title {
          font-size: 1rem;
        }

        .subtitle {
          margin: 0;
          font-size: 0.65rem;
          margin: 0;
        }
      }

      .spacer {
        display: flex;
        flex: 1;
      }
    }
  }
}
