@import '../../styles/mixins';

$borderRadius: 18px;

.authentication-page {
  background-size: cover;
  height: inherit;
  background-color: #fff;

  .error {
    text-align: center;
    margin: 0 0 25px 0;
  }

  .loading-btn {
    min-width: 0;
    position: relative;

    .md-icon {
      position: absolute;
      top: -12px;
      left: 8px;
    }
  }

  .authentication-container {
    margin: auto;
    background-color: #fff;

    .md-paper {
      background: transparent;
    }
  }

  .MuiCardHeader-root {
    padding: 0;
    background-color: rgba(0,0,0,0.35);
    text-align: center;

    > .MuiCardHeader-content {
      padding: 0.5em;
    }
  }

  .authentication-page-body {
    padding: 1.5em 1.5em 1em 1.5em;

    .MuiTextField-root {
      margin: 10px auto;

      //.Mui-focused {
      //  &.MuiInput-underline:after {
      //    display: none;
      //  }
      //}
      //.MuiInput-underline:before {
      //  display: none;
      //}
    }

    .MuiInputAdornment-root {
      svg {
        color: rgba(0,0,0,0.55);
      }
    }
  }

  .authentication-page-footer {
    padding: 0 0 1.5em;
    justify-content: center;

    button {
      border-radius: $borderRadius;
      height: 38px;
    }
  }
}
