@import '../../styles/mixins';

.uut-add-layer-dialog {
  .MuiToolbar-regular {
    min-height: 48px;
    height: 48px;
    padding: 0 0.5em;
  }

  .MuiDialogContent-root {
    //padding: 0.5em;

    .MuiStepper-root {
      padding: 0 1em 0.5em 1em;
    }
  }
}
