@import '../../styles/mixins';


.uut-uut-dashboard {
  display: flex;
  flex: 1;
  height: 100%;

  .uut-uut-dashboard-grid {
    flex: 1;
    //min-height: 100%;
    //height: 100%;
    height: inherit;

    .uut-uut-dashboard-grid-item {
      height: 100%;
      padding: 6px;
      //overflow: hidden;

      &:nth-of-type(2) {
        padding: 6px 6px 6px 3px;
      }

      .uut-uut-dashboard-item-content {
        width: 100%;
        height: inherit;
        //background-color: #ecf0f1;
      }
    }
  }

}
