//@import '~react-md/src/scss/react-md';

$backgroundColorBlack: #1c1c1c;
$errorColor: #d63031;
$globalFontColor: rgba(255, 255, 255, 0.8);

//$md-primary-color: $md-blue-500;
//$md-secondary-color: $md-orange-a-400;
//$md-colors-warn-md: false;

$md-text-color: $globalFontColor !important;

$menuFontColor: rgba(0, 0, 0, 0.50);