@import '../../styles/mixins';


.app-base-page {
  width: 100vw;
  height: inherit;

  .app-base-page-body {
     height: 100%;

    .app-header-cell {
      max-height: 48px;
    }

    .page-content-container {
      height: calc(100% - 48px);
    }

    .app-header-cell, .page-content-container{
      width: 100vw;
      max-width: 100%;
      flex-grow: 1;
    }
  }

}

.page-container {
  width: inherit;
  height: inherit;
}
