#geocore-map-layer-menu-toggle-btn {
  position: absolute;
  top: 65px;
  left: 15px;
  z-index: 102;
  background-color: white;
  border-radius: 6px;
}

#geocore-map-layer-menu {
  position: absolute;
  top: 65px;
  left: 15px;
  bottom: 15px;
  z-index: 102;
  min-width: 380px;
  max-width: 380px;
  min-height: 10%;
  max-height: 40%;
  overflow: auto;
  padding: 0;

  .geocore-map-layer-menu-header {
    height: 38px;
    min-height: 0;
    padding: 2px 0;

    .geocore-map-layer-menu-filter {
      .Mui-focused {
        &.MuiInput-underline:after {
          display: none;
        }
      }

      .MuiInput-underline:before {
        display: none;
      }

      input {
        font-size: 0.8em;
      }

      .MuiInputAdornment-positionStart {
        svg {
          color: rgba(0, 0, 0, 0.25);
          width: 0.8em;
          height: 0.8em;
        }
      }
    }
  }

  .geocore-map-layer-menu-body {
    padding: 4px 2px;

    .geocore-map-layer-menu-tree {

    }
  }
}
